<mat-toolbar color="primary">
	<span><img src="/assets/images/logo.png" height="30" width="41"></span>
	<a mat-button>
		<span class="fa fa-home fa-lg"></span>
		Home</a>
	<a mat-button>
		<span class="fa fa-info fa-lg"></span>
		About</a>
	<a mat-button>
		<span class="fa fa-list fa-lg"></span>
		Menu</a>
	<a mat-button>
		<span class="fa fa-address-card fa-lg"></span>
		Contact</a>
</mat-toolbar>

<div class="container jumbotron" fxlayout="row" fxlayout.sm="column" fxlayout.xs="column" fxlayoutalign.xs="start center" fxlayoutalign.sm="start center" fxlayoutalign.gt-sm="center center" fxlayoutgap="10px">

	<div fxflex fxflex.gt-sm="50%">
		<h1>Ristorante Con Fusion</h1>
		<p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
			        will tickle your culinary senses!</p>
	</div>
	<div fxflex fxflex.gt-sm="20%">
		<img src="/assets/images/logo.png" alt="Logo">
	</div>
	<div fxflex></div>
</div>

